<ion-view style="" title="login">
    <ion-content class="has-header" padding="true">
        <form style="">
            <ion-list style="">
                <label style="" class="item item-input">
                    <input placeholder="Username" type="text">
                </label>
                <label style="" class="item item-input">
                    <input placeholder="Password" type="password">
                </label>
            </ion-list>

            <button style="" class="button button-dark button-block" >Log in</button>
            <a style="" class="button button-dark button-clear button-block" href="#/register" ng-click="processWithRegister()">Or create an account</a>
        </form>
    </ion-content>
</ion-view>