<ion-view view-title="Κατάταξη">
  <ion-content class="padding">
    <ion-list class="item-icon-right">
    <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          Τελευταίος Μήνας
        </a>
        <a class="tab-item" href="#">
          Τελευταίο Έτος
        </a>
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        1. Thomas Cannon 1000
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        2.  Vincent Parks 800
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        3. Kara Olson 500
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        4. Tiffany Herrera  500
      </ion-item>
            <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        5. Yvonne Yates 500
      </ion-item>
            <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        6. Kara Olson 500
      </ion-item>
            <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        7.  Doreen Adkins 500
      </ion-item>
            <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        8. Jerry Mcdonald  500
      </ion-item>
      </ion-item>
            <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        9. Johnnie Johnson  500
      </ion-item>
      </ion-item>
            <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        10.  Wayne Rogers  500
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>