<ion-view view-title="Πρόσθεσε νέο κρίστη">
  <ion-content class="padding">
  	<div class="list">
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Username</span>
  		<input type="text" placeholder="Όνομα Χρήστη">
  	</label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="text" placeholder="Συνθηματικό">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="text" placeholder="Επανέλαβε Συνθηματικό">
    </label>

  	</div>
  </ion-content>
</ion-view>