<ion-view view-title="tax-o-drome">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Γενική Γραμματεία Εσόδων</div>
      <div class="item item-body">
        <div>
          Έχετε εξασφαλίσει την ακόλουθη εκπτώση φόρου από την συλλογή αποδείξεων: <b>100 <span class="ion-social-euro"></span></b>
        </div>
      </div>
      <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ui-sref="tab.receipt-statistics">
          <i class="icon ion-thumbsup"></i>
          Στατιστικά
        </a>
      </ion-item>
    </div>
    <div class="list card">
      <div class="item item-divider">Πόντοι</div>
      <div class="item item-body">
        <div>
          Έχεις συγκεντρώσει <b>{{ points }} πόντους</b> και των τελευταίο μήνα <b>45 πόντους</b>. Αν συγκεντρώσεις ακόμα <b>65 πόντους</b> αυτό τον μήνα μπαίνεις στην κλήρωσει για καταπληκτικά δώρα.
        </div>
      </div>
      <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ui-sref="tab.standings">
          <i class="icon ion-thumbsup"></i> Κατάταξη
        </a>
        <!-- <a class="tab-item" href="#" ui-sref="tab.lotary">
          <i class="icon ion-thumbsup"></i> Προηγούμενες Κληρώσεις
        </a> -->
      </ion-item>
    </div>
    
    <div class="list card">
      <div class="item item-divider">Κατορθώματα</div>
      <div class="item item-body">
        <div>
          <div class="row">
            <div class="col"><img src="./img/start-5.svg" /></div>
            <div class="col"><img src="./img/editor-5.svg" /></div>
            <div class="col"><img src="./img/award-5.svg" /></div>
            <div class="col"><img src="./img/star-5.svg" /></div>
            <div class="col"><img src="./img/cool-5.svg" /></div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
