<ion-view view-title="Zara's">
  <ion-content class="padding">
    <ion-list class="item-icon-right">
      <ion-item class="item-divider">
        Μάιος
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        10 Μαιού 2015 12:00 μμ
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="badge badge-positive">
          20 <span class="ion-social-euro"></span>
        </span>
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        9 Μαιού 2015 12:00 μμ
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="badge badge-positive">
          10 <span class="ion-social-euro"></span>
        </span>
      </ion-item>
      <ion-item class="item-divider">
        Απρίλιος
      </ion-item>
      <ion-item href="" ui-sref="tab.receipt-detail({id:0})">
        5 Απριλίου 2015 12:00 μμ
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="badge badge-positive">
          10 <span class="ion-social-euro"></span>
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>