<ion-view view-title="Πρόσθεσε νέα busina">
  <ion-content class="padding">
  	<div class="list">
  	<label class="item item-input item-floating-label">
  		<span class="input-label">ΑΦΜ</span>
  		<input type="text" placeholder="ΑΦΜ">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Επωνυμία</span>
  		<input type="text" placeholder="Επωνυμία">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Επωνυμία Αναλητικά</span>
  		<input type="text" placeholder="ΕπωνυμίαΑναλυτικα">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Τομέας Δραστηριοτήτων</span>
  		<input type="text" placeholder="Τομέας Δραστηριοτήτων">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Διεύθυνση</span>
  		<input type="text" placeholder="Διεύθυνση">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Τηλέφωνο</span>
  		<input type="text" placeholder="Τηλέφωνο">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">ΔΟΥ</span>
  		<input type="text" placeholder="ΔΟΥ">
  	</label>
  	<label class="item item-input item-floating-label">
  		<span class="input-label">Κωδικός</span>
  		<input type="text" placeholder="Κωδικός">
  	</label>
  	</div>
  </ion-content>
</ion-view>
