<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="81DC9BDB52D04DC20036DBD8313ED055">
  <ion-content class="padding">
    <ion-list class="item-avatar">
      <ion-item>
        <h2>81DC9BDB52D04DC20036DBD8313ED055</h2>
        <p>10 Μαιού 2015 12:00 μμ</p>
      </ion-item>
      <ion-item class="item-body">
        <h2>Στοιχεία Απόδειξης:</h2>
        <div class="row">
          <div class="col">Επωνυμία</div>
          <div class="col">ZARA</div>
        </div>
        <div class="row">
          <div class="col">ΑΦΜ</div>
          <div class="col">094352564</div>
        </div>
        <div class="row">
          <div class="col">ΔΟΥ</div>
          <div class="col">ΜΕΓΑΛΩΝ ΕΠΙΧΕΙΡΗΣΕΩΝ</div>
        </div>
        <div class="row">
          <div class="col">ΑΑ απόδειξης</div>
          <div class="col">1234</div>
        </div>
        <div class="row">
          <div class="col">Ημερομηνία</div>
          <div class="col">10 Μαιού 2015</div>
        </div>
        <div class="row">
          <div class="col">Ώρα</div>
          <div class="col">12:00 μμ</div>
        </div>
        <div class="row">
          <div class="col">Συνολική αξία</div>
          <div class="col">20 <span class="ion-social-euro"></span></div>
        </div>
        <div class="row">
          <div class="col">Αξία ΦΠΑ</div>
          <div class="col">4,6 <span class="ion-social-euro"></span></div>
        </div>
        <h2>Η Απόδειξη:</h2>
        <img class="full-image" src="/img/pos_receipt.jpg">
      </ion-item>
      <ion-item class="tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
